.scrolllist{
    -webkit-overflow-scrolling : touch;
}
.ant-drawer-content{
    background-color:rgb(34,34,34)
}
.disabled { pointer-events: none; }

.text_div{
    white-space: nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;
    overflow:hidden;
}

.Overlay {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
  }